.card{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.blob{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.btn:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}